/* Grid Layout */

.container {
    background-color: yellow;
    padding: 10px;
    margin-bottom: 20px;
    display: inline-grid;
}

.item {
    background-color: palegreen
}

.item-01 {
    background-color: palevioletred;
}

.item-02 {
    background-color: cornflowerblue;
}

.item-03 {
    background-color: palegreen;
}

.item-04 {
    background-color: orange;
}

.item-05 {
    background-color: violet;
}

.item-06 {
    background-color: bisque;
}