body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
}

.container {
    border: 2px solid black;
    display: grid;
}

header {
    background-color: orange;
}

main {
    background-color: deepskyblue;
}

aside {
    background-color: lightcoral;
}

footer {
    background-color: yellowgreen;
}