.container {
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 4fr repeat(2, 1fr);
    grid-template-rows: 50px 100px 200px;
}

.item {
    text-align: center;
    background-color: deepskyblue;

    grid-column-start: 1;
    grid-column-end: 6;

    grid-row-start: 1;
    grid-row-end: 2;
}

.item-02 {
    text-align: center;
    background-color: cadetblue;

    grid-column: 1 / 6;

    grid-row: 2 / 4;
}