/* Grid Layout */

.container {
    background-color: yellow;
    padding: 10px;
    margin-bottom: 20px;
    display: grid;
    height: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.item {
    background-color: palegreen;
    border: 1px solid black;
}

.item-01 {
    background-color: palevioletred;
}

.item-02 {
    background-color: cornflowerblue;
}

.item-03 {
    background-color: palegreen;
}

.item-04 {
    background-color: orange;
}

.item-05 {
    background-color: violet;
}

.item-06 {
    background-color: bisque;
}

.item-07 {
    background-color: tomato;
}